.user-container {
  /* display: flex;
  flex-direction: row; */
  gap: 3rem;
  height: 100dvh;
  /* margin: 3rem 0;
  align-items: center; */
}

.image-container {
  width: 40%;
  height: 80%;
}
.image-container img {
  width: 100%;
  height: 100%;
}

.user-form {
  background: #f3f3f37a;
  height: 80%;
  width: calc(60% - 3rem);
}

.user-form form {
  width: auto;
}
